.clubAdvisorLoginButtons{
    -fx-background-color: #24242c;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.clubAdvisorLoginButtons:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

.clubAdvisorLoginButtons:pressed{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: #fcf9f9;
}
#clubAdvisorLoginAnchorPane{
    -fx-background-color: linear-gradient(#104a5b, #4d708a, #104a5b);
}

#clubAdvisorLoginPane{
    -fx-background-color: linear-gradient(#fce38e, #f6d59a, #fff4d1);
    -fx-border-width: 5px;
    -fx-border-color: #696867;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.clubAdvisorLoginTextField{
    -fx-background-radius: 20px;
}

.controlButtons{
    -fx-background-color: white;
    -fx-cursor: hand;
}

.controlButtons:hover{
    -fx-background-color: #f36868;
}

.controlButtons:pressed{
    -fx-background-color: #fa5555;
}

#clubAdvisorLoginLabel{
    -fx-background-color: #cbcbcb;
    -fx-cursor:hand;
}


#registersubPain{
    -fx-background-color: #e1e1e1;
}

#backtoLoginAdvisor{
    -fx-underline: true;
}

#backtoLoginAdvisor:hover{
    -fx-text-fill: linear-gradient(to top, #538491, #4d708a, #4f7986);
}

#backtoLoginAdvisor:pressed{
    -fx-text-fill: linear-gradient(#104a5b, #4d708a, #104a5b);
}

.EventMainPane{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.updateClubLabels{
    -fx-background-color: linear-gradient(to top, #538491, #4d708a, #4f7986);
    -fx-background-radius: 3px;
    -fx-text-fill: #fcfcfc;
}



