.clubAdvisorLoginButtons{
    -fx-background-color: #24242c;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.clubAdvisorLoginButtons:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

.clubAdvisorLoginButtons:pressed{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: #fcf9f9;
}
#clubAdvisorLoginAnchorPane{
    -fx-background-color: linear-gradient(#104a5b, #4d708a, #104a5b);
}

#clubAdvisorLoginPane{
    -fx-background-color: linear-gradient( #edfaea, #b4b49d, #f6f6e4, #b2ae9d);
    -fx-border-width: 3px;
    -fx-border-color:  #9a9797;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.clubAdvisorLoginTextField{
    -fx-background-radius: 10px;
}

.controlButtons{
    -fx-background-color: white;
    -fx-cursor: hand;
}

.controlButtons:hover{
    -fx-background-color: #f36868;
}

.controlButtons:pressed{
    -fx-background-color: #fa5555;
}

#clubAdvisorLoginLabel{
    -fx-background-color: #cbcbcb;
    -fx-cursor: hand;
}
