
.panebutton{
    -fx-background-color: white;
}

#registrationUnderliner{
    -fx-background-color: #040413;
}

#signInLeftPane{
    -fx-background-color: linear-gradient(#506075, #d2ffeb, #5d7588);
}

#backbutton{
    -fx-background-color: #52525d;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#backbutton:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

#signinImage{
    -fx-background-radius: 200px;
}

#backbutton:pressed{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: #fcf9f9;
}

#studentLoginButton{
    -fx-background-color: #52525d;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#studentLoginButton:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

#studentLoginButton:pressed{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: #fcf9f9;
}

#registorButton{
    -fx-background-color: #52525d;
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}


#registorButton:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

#studentLoginPane{
    -fx-background-color: linear-gradient( #edfaea, #b4b49d, #f6f6e4, #b2ae9d);
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: #9a9797;
    -fx-border-radius: 10px;
}



.studentButtonClass:hover{
    -fx-background-color: #201325;
    -fx-text-fill: white;
}

.logintextfield{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color:#9a9797;

}

#registorButton:pressed{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: #fcf9f9;
}

.navigatorPlane{
    -fx-background-color: #cbcbcb;
}

.panebutton:hover{
    -fx-background-color: #f36868;
}

.panebutton:pressed{
    -fx-background-color: #fa5555;
}

.eventField{
    -fx-text-fill: #2c3e50;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 2px;
    -fx-padding: 2px;
}

.eventField:focused{
    -fx-border-color: #455865;
    -fx-background-color: #d6eaf8;
}
