#clubAdvisorLeftPane{
    -fx-background-color: linear-gradient(#104a5b, #4d708a, #104a5b);
}

.leftpanebuttons{
    -fx-background-color: linear-gradient(#ffffd2, #f6d59a, #f6d59a);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.leftpanebuttons:hover{
    -fx-background-color: #ffd26d;
    -fx-text-fill: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: linear-gradient(#fdae6f, #e0be8d, #fdae6f);
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.leftpanebuttons:pressed{
    -fx-background-color: #ffd597;
    -fx-text-fill: black;
}

#logoutLabel{
    -fx-background-color: linear-gradient(#538491, #4d708a, #4f7986);
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}

#logoutLabel:hover{
    -fx-background-color: linear-gradient(#78aab6, #75a6c0, #75a3b0);
}

#logoutLabel:pressed{
    -fx-background-color: #f36868;
}

.dashboardPane{
    -fx-background-color: rgba(255, 255, 255, 0.8) 10 10 10px;
    -fx-background-radius: 10px;
}

.paneStatistics{
    -fx-background-color: linear-gradient(#538491, #4d708a, #4f7986);
    -fx-background-radius: 3px;
}

#ClubManagementNavigator{
    -fx-background-color: #cbcbcb;
    -fx-cursor: hand;
}

.navigatorButtons:hover{
    -fx-background-color: #f36868;
}

.navigatorButtons:pressed{
    -fx-background-color: #fa5555;
}

#updateClubLabel{
    -fx-background-color: linear-gradient(#538491, #619bab, #6c9798, #9baeb4);
    -fx-background-radius: 3px;
}

.updateClubLabels{
    -fx-background-color: linear-gradient(to right, #165a6d, #6aa9bc);
    -fx-background-radius: 3px;
}

#clubLogo{
    -fx-background-color: linear-gradient(grey, #a8acaf);
    -fx-background-radius: 5px;
}

.viewPane{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.paneDirector{
    -fx-background-color: linear-gradient(to right, #165a6d, #6aa9bc, #6aa9bc, #165a6d);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-radius: 0;
    -fx-padding: 5 10;
    -fx-cursor: hand;
    -fx-border-width: 0 1px 0 1px;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-focus-color:transparent;
}

.paneDirector:hover{
    -fx-background-color: linear-gradient(to right, #2b6779, #003543, #003543, #2b6779);
    -fx-text-fill: #ffffff;
}

.paneDirector:pressed{
    -fx-background-color: linear-gradient(to right, #2b6779, #003543, #003543, #2b6779);
    -fx-text-fill: rgb(255,255,255);
    -fx-underline: true;
}

#GoToClubMembership{
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}
#GoToClubMembership:selected {
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}

#GoToClubMembership:pressed {
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}

#GoToEventAttendance{
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}
#GoToEventAttendance{
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}

#GoToEventAttendance:pressed{
    -fx-min-width: 291px;
    -fx-min-height: 49px;
}

#GoToClubActivities{
    -fx-min-width: 284px;
    -fx-min-height: 49px;
}

#GoToClubActivities:selected{
    -fx-min-width: 284px;
    -fx-min-height: 49px;
}

#GoToClubActivities:pressed{
    -fx-min-width: 284px;
    -fx-min-height: 49px;
}




