#NavigatorLogin{
    -fx-background-color: #cbcbcb;
    -fx-cursor: hand;
}

#LoginPane{
    -fx-background-color: linear-gradient(#104a5b, #4d708a, #104a5b);
}

.loginButtons{
    -fx-background-radius: 30px;
    -fx-background-color: #b4fff4;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-family: "System";
    -fx-font-size: 22px;
}

.loginButtons:hover{
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-background-color: rgb(14, 21, 49);
        -fx-background-radius: 22;
        -fx-border-color: #c7fff6;
        -fx-border-radius: 20;
        -fx-border-width:3;
        -fx-text-fill: white;
        -fx-font-size: 22px;
        -fx-font-family: "System";
}

.loginButtons:pressed{
    -fx-background-color: rgb(34, 46, 68);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-family: "System";
}

.navigatorButtons:hover{
    -fx-background-color: #f36868;
}

.navigatorButtons:pressed{
    -fx-background-color: #fa5555;
}

.eventField{
    -fx-text-fill: #2c3e50;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 2px;
    -fx-padding: 2px;
}

.eventField:focused{
    -fx-border-color: #455865;
    -fx-background-color: #d6eaf8;
}







